<h1>Shopping Cart</h1>

<% unless @products_in_cart.empty? %>
  <table>
    <%= render "products/product_heading" %>
    <% if current_cart %>
      <% @products_in_cart.each do |product| %>
        <tr>
          <td><%= product.description %></td>
          <td><%= product.price %></td>
          <td><%= product.quantity %></td>
          <td><%= product.category.name %></td>
          <td><%= link_to 'Remove from Cart', remove_from_shopping_cart_path( { id: current_cart.id, product_id: product.id } ), method: :delete %></td>
        </tr>
      <% end %>
      <% unless @current_cart.products.empty? %>
        <tr><td><%= link_to 'Checkout', orders_path, method: :post %> </td></tr>
      <% end %>
    <% end %>
  </table>
<% else %>
  <p>Cart is Empty! </p>
<% end %>

<%= link_to 'Back', products_path %>