<h1>Shopping Cart</h1>

<% unless @products_in_cart.empty? %>
<table>
  <tr>
    <th>Product Desciption</th>
    <th>Product Price</th>
    <th>Product Quantity</th>
    <th>Product Category</th>
  </tr>
  <tr>
    <% @products_in_cart.each do |product| %>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
      <td><%= product.category.name %></td>
      <td><%= link_to 'Remove from Cart', remove_from_cart_path(product.id), method: :delete %></td>
    <% end %>
  <% else %>
    <p>Cart is empty!</p>
  <% end %>
  </tr>
</table>
<%= link_to 'Back', products_path %>