<% unless @orders.empty? %>
  <h1>Here are the pending Orders..</h1>
  <table>
    <%= render "products/product_heading" %>
    <% @orders.each do |order| %>
      <%= render "orders", { order: order } %>
      <tr><td>Order ID : <%= order.id %> User ID : <%= order.user.id %></td></tr>
      <% if order.pending? %>
        <tr><td><%= link_to 'Confirm Order', admin_confirm_order_path( { id: order.id } ) %><td></tr> 
      <% end %> 
      <tr><td><br><br></td></tr>
    <% end %>
  </table>
<% else %>
  <p>There are no orders currently!</p>
<% end %>