
<h1>Products</h1>

<table>
  <tr>
    <th>Product Desciption</th>
    <th>Product Price</th>
    <th>Product Quantity</th>
    <th>Product Category</th>
  </tr>
  
  <% @products.each do |product| %>
    <tr>
      <td><%= product.description %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
      <td><%= Category.find(product.category_id).name %></td>
      <% unless current_user.is_admin %>
        <td><%= link_to 'Add to Cart', root_path %></td>
      <% else %>
        <td><%= link_to 'Delete', product_path(product), method: :delete, data: { confirm: "Are you sure?" } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.is_admin %>
  <td><%= link_to 'Create Product', new_product_path %></td>
<% end %>
<%= link_to 'Back', root_path %>