<h1>Product <%= @product.id %></h1>

<% if @product.images.attached? %>
  <p><strong>Images : </strong></p><br>
  <% @product.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
<% end %>

<table>
  <%= render "product_heading" %>
  <tr>
    <td><%= @product.description %></td>
    <td><%= @product.price %></td>
    <td><%= @product.quantity %></td>
    <td><%= @product.category.name %></td>
  </tr>
</table>

<% if !current_user.is_admin && current_cart %>
  <% unless check_product_in_cart %>
    <%= link_to 'Add to Cart', add_to_shopping_cart_path( { product_id: @product.id } ) %>
  <% else %>
    <p>Product is already in the cart!</p>
  <% end %>
<% else %>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>

<%= link_to 'Back', products_path %>