<h1>Product <%= @product.id %></h1>

<% if @product.images.attached? %>
  <p><strong>Images : </strong></p><br>
  <% @product.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Product Desciption</th>
    <th>Product Price</th>
    <th>Product Quantity</th>
    <th>Product Category</th>
  </tr>
  <tr>
    <td><%= @product.description %></td>
    <td><%= @product.price %></td>
    <td><%= @product.quantity %></td>
    <td><%= Category.find(@product.category_id).name %></td>
  </tr>
</table>

<% if !current_user.is_admin && current_cart %>
  <% unless ShoppingCartProduct.find_by(shopping_cart_id: current_cart.id, product_id: @product.id) %>
    <%= link_to 'Add to Cart', add_to_cart_path(@product.id) %>
  <% else %>
    <p>Product is already in the cart!</p>
  <% end %>
<% else %>
  <%= link_to 'Edit', edit_product_path(@product) %>
<% end %>

<%= link_to 'Back', products_path %>