<!DOCTYPE html>
<html>
  <head>
    <title>OnlineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= @current_user.email %> Logged in!
      <% if current_cart && !@current_user.is_admin %>
        Cart ID : <%= @current_cart.id %>
      <% end %>
      <%= link_to 'Logout', logout_path, method: :delete %>
    <% end %>
    <% if @current_user && current_cart %>
      <%= link_to 'Products', products_path %>
      <%= link_to 'Cart', shopping_carts_path %>
    <% end %>
    <%= yield %>
  </body>
</html>